#b1{
    -fx-background-color: transparent;
}
#t1{
    -fx-border-color: black;
}
#b, #addP{
    -fx-background-color: black;
    -fx-border-color: linear-gradient(to top, #ea3a27 0%, #f8bb16 100%);
    -fx-border-width: 2px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-text-fill: white;
}
#b:hover, #addP:hover {
    -fx-text-fill: linear-gradient(to bottom right, #e366d0 0%, #45b5fb 100%);
}
#text{
    -fx-border-radius: 25px;
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to top, #ea3a27 0%, #f8bb16 100%);
    -fx-border-width: 2px;
    -fx-text-fill: black;
    -fx-background-radius: 25px;
}

#t1{
    -fx-background-color: grey;
    -fx-border-color: lightblue;
    -fx-border-width: 2px;
    -fx-text-fill: orange;
}
#list{
    -fx-background-color: grey;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-text-fill: orange;
}
#vbox{
    -fx-border-color: lightblue;
    -fx-border-width: 4px;
    -fx-background-color: lightblue;
}
#color{
    -fx-background-color: linear-gradient(to bottom right, #e366d0 0%, #45b5fb 100%);
}
#menub{
    -fx-background-color: black;
    -fx-border-color: linear-gradient(to top, #ea3a27 0%, #f8bb16 100%);
    -fx-border-width: 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}
#hp{
    -fx-background-color: linear-gradient(to bottom right, #e366d0 0%, #45b5fb 100%);
    -fx-background-radius: 7px 7px 0px 0px;
}
#sname, #aname, #arname {
    -fx-text-fill: linear-gradient(to bottom right, #e366d0 0%, #45b5fb 100%);
}
.list-view {
    -fx-background-color: white;
    -fx-font-size: 15px;
}
.list-view .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: black !important;
    -fx-text-background-color: linear-gradient(to bottom right, #e366d0 0%, #45b5fb 100%);
}
.list-view .list-cell:filled:hover {
    -fx-background-color:  black !important;
    -fx-text-background-color: white;
}
.list-view .list-cell:even {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 3px;
}
.list-view .list-cell:odd {
    -fx-background-color: ghostwhite;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 3px;
}
